table {
  border-collapse: collapse;
  /* margin: 25px 0px; */
  width: 100%;
  font-size: 0.9rem;
}

thead tr {
  background-color: green;
  color: white;
  text-align: left;
}

table th {
  padding: 12px 20px;
  text-align: center;
}

table td {
  padding: 6px 20px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

tbody tr:last-child {
  border-bottom: 2px red solid;
}

tbody td {
  vertical-align: middle;
}

.form-group {
  width: 100%;
  /* background-color: red; */
  margin-bottom: 10px;
}

.input__detail {
  width: 100%;
  font-size: 0.8rem;
  margin-top: 5px;
}

.pagination {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 30px;
  gap: 3px;
  /* background-color: blue; */
}

.pagination__link {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.pagination__countpage--active {
  background-color: red;
  color: #fff;
  padding: 7px;
  border-radius: 10px;
  margin: 0px 3px;
}

.pagination__countpage--disabled {
  pointer-events: none;
  opacity: 0.5;
}

.pagination__link:hover {
  background-color: red;
  color: #555;
}
